@use "../fonts";
@use "../colors";
@use "../breakpoints";

.home_back {
    background-image: url("../img/index_background.jpg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: calc(100vh + 250px);
    top: 0;
    left: 0;
    z-index: -1;

    @media (max-width: breakpoints.$tablet_breakpoint) {
        background-image: url("../img/index_background_table.jpg");
        height: calc(100vh + 250px);
        width: 100vw;
    }

    @media (max-width: breakpoints.$mobile_breakpoint) {
        background-image: url("../img/index_background_mobile.jpg");
        height: calc(100vh + 120px);
    }
}

.h5 {
    color: colors.$primary_color;
    font-family: fonts.$text_font;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 4.725px;
    

    @media (max-width: breakpoints.$tablet_breakpoint) {
        text-align: center;
    }

    @media (max-width: breakpoints.$mobile_breakpoint) {
        font-size: 16px;
    }
}

.h1 {
    color: colors.$secondary_color;
    font-family: fonts.$heading_font;
    font-size: 150px;
    font-weight: 400;

    @media (max-width: breakpoints.$tablet_breakpoint) {
        text-align: center;
    }

    @media (max-width: breakpoints.$mobile_breakpoint) {
        font-size: 80px;
        line-height: 100px;
    }
}

.main-text {
    color: colors.$primary_color;
    font-family: fonts.$text_font;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

    @media (max-width: breakpoints.$tablet_breakpoint) {
        text-align: center;
    }

    @media (max-width: breakpoints.$mobile_breakpoint) {
        font-size: 15px;
        line-height: 25px;
    }
}

.text-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 445px;

    &__h5 {
        margin: 0;
    }

    &__h1 {
        margin: 0;
    }

    &__main-text {
        margin: 0;
    }

    @media (max-width: breakpoints.$tablet_breakpoint) {
        align-items: center;
    }

    @media (max-width: breakpoints.$mobile_breakpoint) {
        width: auto;
        max-width: 330px;
        gap: 16px;
    }
}

.explore-btn {
    color: colors.$back_color;
    font-family: fonts.$heading_font;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;

    padding: 120px 63px;

    background-color: colors.$secondary_color;
    border-radius: 273px;

    cursor: pointer;

    transition: box-shadow 0.5s;

    &:hover {
        box-shadow: 0 0 0 88px rgba(255, 255, 255, 0.1);
    }

    @media (max-width: breakpoints.$mobile_breakpoint) {
        font-size: 20px;
        letter-spacing: 1.25px;

        padding: 63px 28px;
        border-radius: 273px;

        &:hover {
            box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.1);
        }
    }
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    padding: 251px 0 0;

    @media (max-width: breakpoints.$tablet_breakpoint) {
        padding: 106px 0 0;
        flex-direction: column;
        align-items: center;
        gap: 156px;
    }   

    @media (max-width: breakpoints.$mobile_breakpoint) {
        gap: 81px;
    }
}