@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
.burgermenu {
  width: 24px;
  height: 3px;
  background-color: #d0d6f9;
  position: relative;
  display: none;
  transition: background-color 0.5s;
}
.burgermenu::before {
  width: 24px;
  height: 3px;
  background-color: #d0d6f9;
  position: absolute;
  top: -10px;
  content: "";
  transition: transform 0.5s;
}
.burgermenu::after {
  width: 24px;
  height: 3px;
  background-color: #d0d6f9;
  position: absolute;
  top: 10px;
  content: "";
  transition: transform 0.5s;
}
.burgermenu_active {
  background-color: rgba(0, 0, 0, 0);
}
.burgermenu_active::before {
  opacity: 1;
  transform: rotate(45deg) translateY(14px);
}
.burgermenu_active::after {
  opacity: 1;
  transform: rotate(-45deg) translateY(-14px);
}
@media (max-width: 425px) {
  .burgermenu {
    display: block;
  }
}

.link {
  text-decoration: none;
  color: #FFF;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
  counter-increment: nav-links;
  position: relative;
}
.link::before {
  content: "0" counter(nav-links);
  margin-right: 12px;
  font-weight: 700;
}
.link::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background-color: #FFF;
  opacity: 0.5021;
  bottom: -38px;
  left: 0;
  transition: 0.3s;
}
.link:hover::after {
  width: 100%;
}
.link_active::after {
  width: 100%;
  opacity: 1;
}
@media (max-width: 1023px) {
  .link::before {
    content: "";
    margin-right: 12px;
    font-weight: 700;
  }
}
@media (max-width: 425px) {
  .link::before {
    content: "0" counter(nav-links);
    margin-right: 11px;
  }
  .link::after {
    display: none;
  }
}

.nav {
  display: flex;
  padding: 39px 163px 38px 127px;
  gap: 50px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742271423px);
  counter-reset: nav-links -1;
}
@media (max-width: 1023px) {
  .nav {
    gap: calc((55vw - 265px) / 4);
    padding: 39px calc((55vw - 236px) / 2);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742271423px);
  }
}
@media (max-width: 425px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
    padding: 118px 0 0 32px;
    gap: 32px;
  }
  .nav_show {
    transform: scaleX(1);
  }
}

.logo {
  width: 48px;
}
@media (max-width: 425px) {
  .logo {
    width: 40px;
  }
}

.logo-sec {
  padding-left: 55px;
}
@media (max-width: 1023px) {
  .logo-sec {
    padding: 24px 39px;
  }
}
@media (max-width: 425px) {
  .logo-sec {
    padding: 0;
  }
}

.header {
  display: flex;
  padding: 40px 0;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .header {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .header {
    padding: 24px;
  }
}

.home_back {
  background-image: url("../img/index_background.jpg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: calc(100vh + 250px);
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 1023px) {
  .home_back {
    background-image: url("../img/index_background_table.jpg");
    height: calc(100vh + 250px);
    width: 100vw;
  }
}
@media (max-width: 425px) {
  .home_back {
    background-image: url("../img/index_background_mobile.jpg");
    height: calc(100vh + 120px);
  }
}

.h5 {
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4.725px;
}
@media (max-width: 1023px) {
  .h5 {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .h5 {
    font-size: 16px;
  }
}

.h1 {
  color: #FFF;
  font-family: "Bellefair", serif;
  font-size: 150px;
  font-weight: 400;
}
@media (max-width: 1023px) {
  .h1 {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .h1 {
    font-size: 80px;
    line-height: 100px;
  }
}

.main-text {
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
@media (max-width: 1023px) {
  .main-text {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .main-text {
    font-size: 15px;
    line-height: 25px;
  }
}

.text-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 445px;
}
.text-column__h5 {
  margin: 0;
}
.text-column__h1 {
  margin: 0;
}
.text-column__main-text {
  margin: 0;
}
@media (max-width: 1023px) {
  .text-column {
    align-items: center;
  }
}
@media (max-width: 425px) {
  .text-column {
    width: auto;
    max-width: 330px;
    gap: 16px;
  }
}

.explore-btn {
  color: #0b0d17;
  font-family: "Bellefair", serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 120px 63px;
  background-color: #FFF;
  border-radius: 273px;
  cursor: pointer;
  transition: box-shadow 0.5s;
}
.explore-btn:hover {
  box-shadow: 0 0 0 88px rgba(255, 255, 255, 0.1);
}
@media (max-width: 425px) {
  .explore-btn {
    font-size: 20px;
    letter-spacing: 1.25px;
    padding: 63px 28px;
    border-radius: 273px;
  }
  .explore-btn:hover {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.1);
  }
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 251px 0 0;
}
@media (max-width: 1023px) {
  .main {
    padding: 106px 0 0;
    flex-direction: column;
    align-items: center;
    gap: 156px;
  }
}
@media (max-width: 425px) {
  .main {
    gap: 81px;
  }
}

body {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
