@use "fonts";
@use "colors";
@use "breakpoints";

.h5 {
    color: colors.$main_color;
    font-family: fonts.$text_font;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 4.725px; 

    @media (max-width: breakpoints.$breakpoint_sm) {
        font-size: 16px;
    }

}

.h1 {
    color: colors.$secondary_color;
    font-family: fonts.$header_font;
    font-size: 150px;
    font-weight: 400;

    @media (max-width: breakpoints.$breakpoint_sm) {
        font-size: 80px;
    }
}

.text {
    color: colors.$main_color;
    font-family: fonts.$text_font;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

    @media (max-width: breakpoints.$breakpoint_sm) {
        font-size: 15px;
    }
}