@use "fonts";
@use "colors";
@use "breakpoints";

.link {
    text-decoration: none;

    counter-increment: link;
    color: colors.$secondary_color;

    font-family: fonts.$text_font;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    position: relative;

    &::before {
        content: "0" counter(link);
        margin-right: 11px;
        font-weight: 700;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -39px;
        left: 0;
        width: 0;
        opacity: 0.5021;
        height: 3px;
        background: colors.$secondary_color;
        transition: width 0.3s;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }

    &_active {
        &::after {
            width: 100%;
            opacity: 1;
        }
    }

    @media (max-width: breakpoints.$breakpoint_l) {
        font-size: 14px;
        letter-spacing: 2.362px;

        &::before {
            content: none;
        }

        &::after {
            bottom: -40px;
        }
    }

    @media (max-width: breakpoints.$breakpoint_sm) {
        &::before {
            content: "0" counter(link);
            margin-right: 11px;
            font-weight: 700;
        }

        &::after {
            display: none;
        }
    }
}

.nav {
    display: flex;
    gap: 48px;
    padding: 39px 165px 38px 123px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    counter-reset: link -1;
    max-width: 830px;

    @media (max-width: breakpoints.$breakpoint_l) {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);
        max-width: 450px;

        padding: 40px 2em;
        gap: 2em;
    }

    @media (max-width: breakpoints.$breakpoint_sm) {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100vh - 118px);
        width: 50%;
        transform: scaleX(0);
        transition: transform 0.5s;
        transform-origin: right;
        padding: 118px 0  0 32px;

        gap: 32px;
        z-index: 1;

        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);


        &_active {
            transform: scaleX(1);
        }
    }
}

.burgermenu {
    width: 24px;
    height: 3px;
    background: #D0D6F9;
    position: relative;
    display: none;
    transition: background 0.7s;

    z-index: 2;


    &::after {
        content: " ";
        width: 24px;
        height: 3px;
        position: absolute;
        background: #D0D6F9;
        transition: all 1s;
        top: -6px;
    }

    &::before {
        content: " ";
        width: 24px;
        height: 3px;
        position: absolute;
        background: #D0D6F9;
        transition: all 1s;
        top: 6px;
    }

    &_active {
        background: rgba(0, 0, 0, 0);

        &::after {
            transform: rotate(675deg);
            background: #D0D6F9;
            top: inherit;
        }

        &::before {
            transform: rotate(-675deg);
            background: #D0D6F9;
            top: inherit;
        }
    }

    @media (max-width: breakpoints.$breakpoint_sm) {
        display: block;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 55px;

    @media (max-width: breakpoints.$breakpoint_l) {
        padding: 0 0 0 39px;
    }

    @media (max-width: breakpoints.$breakpoint_sm) {
        padding: 24px;
    }
}
